@import "tailwindcss";

:root {
  --color-brand-blue-light: #1C4EF1;
  --color-brand-blue-dark: #1A3CB6;
  --color-hero-button: #00FFFF;
  --color-primary-orange: #F5AB40;
  --color-explore-bg: #CDDCFB80;
  
  --text-hero-lg: 3.75rem;
  --text-hero-sm: 3rem;
}


@theme {
  --font-sans: var(--font-satoshi);
}
